body
{
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1
{
    font-variant: all-small-caps;
    background-color: #fc001b;
}

a:hover
{
    border: 2px solid black;
    padding:5px;
    background-color: green;
    width:300px;
    border-radius: 10px;
}

.stippelrand
{
    border: 2px dotted black;
    padding:2px;
    width: 10em;
    border-radius: 10px;
}